@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

$primary-font: 'Cabin', sans-serif;
$secondery-font: 'Cormorant Garamond', serif;
$nav-font: 'Archivo', sans-serif;
$main-color:  #1e2bd8;
$primary-color: rgb(216, 240, 231);
$gray: rgb(128, 128, 128);
$dark-green: #90b391;
$purple: #E3D6F4;

* {
  box-sizing: border-box;
}


body {
  font-family: $primary-font;
  background-color: #fff;
  color: $main-color;
  height: 100vh;
}

@mixin buttonStyle {
  font-family: $nav-font;
  background-color: $primary-color;
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  &:hover {
    background-color: $dark-green;
    transition: 0.3s;
  }
}


input {
  font-family: $secondery-font;
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: $main-color;
  padding: 7px 0;
  transition: .3s ease;
  &:focus::placeholder {
    color: transparent;
  }
}


.button {
  @include buttonStyle;
}

.small-button {
  @include buttonStyle;
  font-size: 10px;
  padding: 10px 20px;
}


.purple {
  color: $purple;
}

.dark-green {
  color: $dark-green;
}

.blue-color {
  color: $main-color;
}

.border-style {
  outline: 0;
  border-top: 1px solid $main-color;
  padding: 5px;
}

.select-style {
  outline: 0;
  border: 1px solid black;
  padding: 7px;
}